<form method="post" action="/plant_info">
    <label for="plantName">Scientific Name</label> <br>
    <input id="plantName" type="text" name="name"> <br>

    <label for="plantCommon">Common Name</label> <br>
    <input id="plantCommon" type="text" name="common"> <br>

    <label for="plantLight">Light/Medium/Strong Light</label> <br>
    <input id="plantLight" type="text" name="light"> <br>

    <button type="submit">Add to the list!</button>
</form>